/* DOC */
html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #333D51;
}
a{
    text-decoration: none;
}
#projects h2, .project-title h3, .project-links, .content .section-title, .content .header {
    text-transform: uppercase;
}
/* NAV */
nav, #welcome-section {
    background-color: #CBD0D8;
}
nav {
    height: 55px;
    position: fixed;
    width: 100%;
    z-index: 2;
}
#navbar ul {
    padding: 0;
}
#navbar ul li {
    display: inline;
    padding: 0 100px;
    font-size: 1.5em;
}
#navbar a {
    font-weight: bold;
}

/* WELCOME */
#welcome-section, #projects {
    padding-top: 50px;
    height: 100vh;
}

#welcome-section header {
    margin: 35vh auto;
    width: 40%;
}
#welcome-section p, #hideArrow {
    color: #D3AC2B;
}
#showArrow, #arrowContent p {
    color: #333D51;
}

#showArrow, #hideArrow {
    cursor: pointer;
    font-size: 2em;
}
#arrowContent {
   opacity: 0;
    line-height: 2em;
}
/* PROJECTS */
#projects h2 {
    letter-spacing: 0.2em;
}
#project-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:10px;
    height: 80%;
}
.project-tile {
    margin: auto;
}
.project-img {
    border-radius: 10px 10px 0 0;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 250px;
    width: 300px;
}
.project-title {
    line-height: 250px;
    font-size: 2em;
    opacity: 0;
    transition: 500ms ease;
}
.project-title h3 {
    color: #D3AC2B;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1em;
}
.project-title:hover {
    border-radius: 10px 10px 0 0;
    opacity: 1;
    background-color: #CBD0D8;
}
.project-links {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #CBD0D8;
    border-radius: 0 0 10px 10px;
}
.project-links a {
    font-family: 'Open Sans', sans-serif;
}
.project-links i, .project-links a {
    color: #333D51;
}
#p1 {
    background-image: url('../img/email.JPG');
}
#p2 {
    background-image: url('../img/yelpCamp.JPG');
}
#p3 {
    background-image: url('../img/artistPage.JPG');
}
#p4 {
    background-image: url('../img/localBistro.JPG');
}
#p5 {
    background-image: url('https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}
#p6 {
    background-image: url('https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

/* SLIDER */
.slider {
    position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), #333d51);
        z-index: 2;
}
 .content {
    display: none;
    position: fixed;
    top: 15%;
    left: 15%;
    background-color: none;
    width: 70%;
    height: 50%;
    z-index: 3;
}
.content img {
    width: 30%;
    padding: 20px;
    vertical-align: top;
}
.content .section-2 {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content p {
    font-size: .6em;
    line-height: 1em;
    padding: 0 20px;
    text-align: left;
    color: #CBD0D8;
}
.content .section-title {
    font-size: 1.5em;
    color: #D3AC2B;
}
.content .header {
    font-weight: bold;
    color: #D3AC2B;
}
.content .section-2 {
    border-top: #D3AC2B solid 5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.content .project-links {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    display: grid;
    grid-template-columns: 1fr;
    border-left: #D3AC2B solid 5px;
}
.content .project-links i {
   margin-top: 40px;
   padding: 10px;
}
.content .project-links a, .content .project-links i {
    color: #D3AC2B;
}
article {
    margin-top: 30px;
}
.button {
    background-color: #333D51;
    padding: 15px 80px;
    border-radius: 5px;
    color: #F4F3EA;
    transition: ease 500ms;
}
.button:hover {
    color:#333D51;
    background-color: #CBD0D8;
    border: 1px solid #333D51;
}
/* CONTACT */
#contact {
    padding-top: 50px;
    height: 90vh;
    background-color: #D3AC2B;
    color: #F4F3EA;
}
#contact a {
    color: #F4F3EA;
}
.contact-link {
    display: inline-block;
    margin: 20px 100px;
    font-size: 10em;
}
#contact-links {
    margin: 150px auto;
}
.linkTitle p{
    font-size: 0.9rem;
    margin-top: 0;
    line-height: 0.5rem;
}
/* FOOTER */
footer {
    background-color: #333D51;
    padding: 20px;
    color: #F4F3EA;
    font-size: 0.9em;
    font-family: monospace;
    line-height: 0.5em;
}
footer a {
    color: #D3AC2B;
}

/* MEDIA QUERIES */

/* TABLET */
@media (max-width: 900px) {
    #project-box{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap:20px;
    }
    #projects {
        height: 100%;
        padding-bottom: 50px;
    }
    #navbar ul li {
        padding: 0 50px;
    }
    #contact {
        height: 100%;
        padding: 20px;
    }
    #contact-links {
        margin: 0 auto;
    }
}

/* MOBILE */
@media (max-width: 600px) {
    #navbar ul li {
        padding: 0 10px;
    }
    #welcome-section header{
        margin: 25vh auto;
        width: 80%;
    }
    #project-box {
        margin-top: 50px;
        grid-template-columns: 1fr;
        height: 650px;
        overflow: auto;
        padding: 0 10px;
    }
    #project-box ::-webkit-scrollbar {
        width: 1px;
    }
    #contact-links {
        margin: auto;
    }
    .project-tile {
        height: 100%;
        width: 70%;
    }
    .project-img {
        width: 100%
    }
    .project-links {
        font-size: 2em;
    }
}

@media (max-height:800px) {
    #welcome-section header{
        margin: 10vh auto 0 auto;
    }
    #welcome-section, #projects, #contact, footer {
        height: 100%;
    }
    #projects h2 {
        margin-bottom: 20px;
    }
    #contact-links {
        margin: 0 auto;
    }
}