/* DOC */
html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #333D51;
}
/* NAV */
nav {
    background-color: #CBD0D8 ;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 2;
}
#navbar ul {
    text-align: right;
    padding-right: 20px;
}
#navbar ul li {
    display: inline;
    padding: 0 40px;
}
a{
    text-decoration: none;
    color: #333D51;
}
#navbar a {
    transition: ease 500ms;
    font-weight: bold;
}
#navbar a:hover {
    font-size: 1.2em;
}
/* WELCOME */
#welcome-section, #projects {
    padding-top: 50px;
    height: 100vh;
}
#welcome-section {
    background-color: #CBD0D8 ;
}

#welcome-section header {
    margin: 35vh auto;
    width: 40%;
}
#welcome-section p, #hideArrow {
    color: #D3AC2B;
}
#showArrow, #arrowContent p {
    color: #333D51;
}

#showArrow, #hideArrow {
    cursor: pointer;
    font-size: 2em;
}
#arrowContent {
   opacity: 0;
    line-height: 2em;
}
/* PROJECTS */
#projects h2 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
#project-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:10px;
    height: 80%;
}
.project-tile {
    background-color: #333D51;
    height: 300px;
    width: 300px;
    margin: auto;
    border: 2px solid #333D51;
}
.project-img {
    background-repeat: no-repeat;
    background-position: top;
    background-size: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
#p1 {
    background-image: url('../img/email.JPG');
}
#p2 {
    background-image: url('../img/yelpCamp.JPG');
}
#p3 {
    background-image: url('../img/artistPage.JPG');
}
#p4 {
    background-image: url('../img/localBistro.JPG');
}
#p5 {
    background-image: url('https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}
#p6 {
    background-image: url('https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}
.project-side-1 a, .project-side-2 a{
    display: inline-block;
    color: #CBD0D8;
    font-size: 2em;
    padding: 100px 0;
    opacity: 0;
    transition: ease 500ms;
}
.project-side-1, .project-side-2 {
    background-color: #333D51;
    opacity: 0;
    transition: ease 500ms;
}

.project-side-1 a:hover, .project-side-2 a:hover,.project-side-1:hover, .project-side-2:hover {
    opacity: .9;
}

.project-title p {
   line-height: 0.8em;
   color: #F4F3EA;
   font-weight: bold;
}
article {
    margin-top: 30px;
}
.button {
    background-color: #333D51;
    padding: 15px 80px;
    border-radius: 5px;
    color: #F4F3EA;
    transition: ease 500ms;
}
.button:hover {
    color:#333D51;
    background-color: #CBD0D8;
    border: 1px solid #333D51;
}
/* CONTACT */
#contact {
    padding-top: 50px;
    height: 90vh;
    background-color: #D3AC2B;
    color: #F4F3EA;
}
#contact a {
    color: #F4F3EA;
}
#contact-links {
    margin: 150px;
}
.contact-link {
    display: inline-block;
    font-size: 5em;
    margin: 10px 60px;
    transition: ease 500ms;
}
.contact-link:hover {
    font-size: 7em;
}
.linkTitle p{
    font-size: 0.9rem;
    margin-top: 0;
    line-height: 0.5rem;
}
/* FOOTER */
footer {
    background-color: #333D51;
    padding: 15px;
    color: #F4F3EA;
    font-size: 0.9em;
    font-family: monospace;
    line-height: 0.5em;
}
footer a {
    color: #D3AC2B;
}
/* TABLET */
@media (max-width: 900px) {
    #project-box{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap:20px;
    }
    #projects {
        height: 100%;
        padding-bottom: 50px;
    }
}

/* MOBILE */
@media (max-width: 600px) {
    #welcome-section, #projects, #contact {
        height: 100%;
    }
    footer {
        margin-top: -100px;
    }
    #welcome-section header{
        margin: 35vh auto; 
    }
    #navbar ul {
        text-align: center;
        padding: 0;
        margin-bottom: 0;
    }
    #navbar ul li {
        padding: 0 5px;
    }
    #project-box {
        margin-top: 50px;
        grid-template-columns: 1fr;
        height: 650px;
        overflow: auto;
        padding: 0 10px;
    }
    #project-box ::-webkit-scrollbar {
        width: 1px;
    }
    #contact {
        margin-top: 50px;
    }
    #contact-links {
        margin: 100px auto;
    }
    .project-tile {
        height: 100%;
        width: 100%;
    }
    .project-img {
        height: 150px;
    }
    .project-side-1 a, .project-side-2 a {
        padding: 50px 0;
    }
}

@media (max-height:800px) {
    #welcome-section header{
        margin: 20vh auto 0 auto;
    }
    #welcome-section, #contact {
        padding: 50px 0;

    }
    #contact-links {
        margin: 50px;
    }
    #projects h2 {
        margin-bottom: 20px;
    }
    footer {
        margin-top: 0;
    }
}