
html {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    color: #333D51;
}
header h2 {
    text-transform: uppercase;
}
nav {
    position: fixed;
    top: 40vh;
    left: 90vw;
}
nav ul li{
    list-style: none;
    padding-bottom: 15px;
}
a {
    color: #222;
}
nav a:hover {
    color: #333D51;
}
.btn {
    background-color: #D3AC2B;
    color: #F4F3EA;
}
#about {
    height: 100vh;
    padding-top: 40vh;
    background-color: #CBD0D8;
}
.accent {
    color: #D3AC2B;
}
#arrow-down, #arrow-up {
    font-size: 2em;
    cursor: pointer;
}
.arrow-toggle {
    margin-top: 125px;
    transform: rotate(180deg);
    opacity: 0;
    color: #D3AC2B;
}
#arrow-down {
    transition: 1s ease;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 2;
}
#arrow-up {
    color: #D3AC2B;
}
.hidden-text {
   opacity: 0;
   transition: 1s ease;
}
#projects .row {
    padding: 20px;
}
#contact {
    background-color: #D3AC2B;
}
#contact, #contact i, #contact a {
    color: #F4F3EA;
    transition: 500ms ease;
    text-decoration: none;
}
#contact,#contact header {
    padding: 120px 0;
}
#contact .row {
    padding: 50px 0 150px;
}
#contact i {
    font-size: 6em;
}
#contact i:hover, #contact a:hover {
    color: #333D51;
}